.course-image{
    width:100%;
    height:auto;
} 
#img-container{
    text-align: center;
}
.edit-btn {
    text-align: left;
    margin:5px;
}

#addChapter{
    display: none;
}
.addLesson{
    display: none;
}
#add-chapter-btn{
    margin: 5px;
}

.edit {
    display: none;
}
.float-right{
    text-align: right;
}

