<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title>
      Online Courses - Learn Anything On Your Schedule | MNP Courses
    </title>
    <link rel="shortcut icon" href="/assets/images/logo-images.svg" />
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container">
        <a href="#" class="navbar-branch">
          <img src="/assets/images/logo.svg" width="160px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <form id="formSearch" class="ml-1">
            <span><i class="fas fa-search"></i></span>
            <input type="text" placeholder="Search..." class="rounded-pill" />
          </form>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdownCategory"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Categories</a
              >
              <div class="dropdown-menu" aria-labelledby="dropdownCategory">
                <a class="dropdown-item" href="#">Mobile</a>
                <a class="dropdown-item" href="#">web</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <% if(typeof user !== 'undefined' ) { %>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-shopping-cart"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdownUser"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><%= user.username %></a
                >
                <div class="dropdown-menu" aria-labelledby="dropdownUser">
                  <a class="dropdown-item" href="#">My Profile</a>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Login
                </a>
              </li>
            <% } %>
            
            
          </ul>
        </div>
      </div>
    </nav>



    <!-- add chapter -->
    <div  id="addChapter"class="container mt-5 mb-5">
      <form action="/instructor/addChapter" method="post" id="formChapter">
        <div class="form-group">
          <label for="chapterName">Chapter name</label>
          <input type="text" class="form-control" id="chapterName" placeholder="How to carry daxua 0/8/1?" name = "chapterName">
        </div>
        <div class="form-group">
          <label for="shortDescription">Short description</label>
          <textarea class="form-control" id="shortDescription" rows="3" name = "shortDescription"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit this chapter">
      </form>
    </div>
    <!-- <button id="add-lesson-btn" type="button" class="btn btn-primary" onClick="window.open('/instructor/addLesson');" >Add Lesson</button> -->

    <!-- Footer -->
    <div class="container-fluid footer">
      <div class="row">
        <ul class="col list-group">
          <li class="list-group"><a href="#">
            MNP for Business</a></li>
          <li class="list-group"><a href="#">
            Teach on Udemy</a></li>
          <li class="list-group"><a href="#">
            About us</a></li>
          <li class="list-group"><a href="#">
            Contact us</a></li>
        </ul>
        <ul class="col list-group">
          <li class="list-group"><a href="#">
            Careers</a></li>
          <li class="list-group"><a href="#">
            Blog</a></li>
          <li class="list-group"><a href="#">
            Help and Support</a></li>
          <li class="list-group"><a href="#">
            Affiliate</a></li>
        </ul>
        <ul class="col list-group">
          <li class="list-group"><a href="#">
            Terms</a></li>
          <li class="list-group"><a href="#">           
            Privacy policy and cookie policy</a></li>
          <li class="list-group"><a href="#">
            Sitemap</a></li>
          <li class="list-group"><a href="#">
            Featured courses</a></li>
        </ul>
      </div>
      <div class="row footer-logo d-flex justify-content-between">
        <div>
          <img src="/assets/images/logo-images.svg" width="50px">
        </div>
        <div class="mt-3">
          Copyright @ 2020 MNP, Inc
        </div>

      </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        addFunc = (str) => {
          let upcase = (str === "chapter") ?"Chapter":"Lesson";
          let id = "add" + upcase;
          let btnid = "add-" + str + "-btn" ;
          let obj = document.getElementById(id)
          let btnAdd = document.getElementById(btnid)

          if (obj.style.display === "none")
          {
            obj.style.display = "block";
            btnAdd.style.background = "red"
            btnAdd.innerHTML = "Cancle"
          } else {
            obj.style.display = "none";
            btnAdd.style.background = "#007BFF"
            btnAdd.innerHTML = "Add " + upcase;
          }

        }
        // $("#add-chapter-btn").click(function(){
        //   let chapter = document.getElementById("addChapter")

        //   if (chapter.style.display === "none")
        //   {
        //     chapter.style.display = "block";
        //     let btnAdd = document.getElementById("add-chapter-btn")
        //     btnAdd.style.background = "red"
        //     btnAdd.innerHTML = "Cancle"
        //   } else {
        //     chapter.style.display = "none";
        //     let btnAdd = document.getElementById("add-chapter-btn")
        //     btnAdd.style.background = "#007BFF"
        //     btnAdd.innerHTML = "Add Chapter"
        //   }
          
        // });
        // $("#add-lesson-btn").click(function(){
        //   document.getElementById("addLesson").style.display = "block";
        // });

    </script>
  </body>
</html>

